#game {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.918);
  color: aqua;
  box-shadow: inset 5px 1px 10px 1px rgb(255, 77, 0);
}
.newGameBtn {
    background-color: aqua;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    box-shadow: inset -5px -5px 10px 1px rgb(255, 0, 0);
    transition: 250ms linear;
}

.newGameBtn:hover {
    transition: 250ms linear;
    transform: scale(1.2);
}