#game {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.918);
  color: aqua;
  box-shadow: inset 5px 1px 10px 1px rgb(255, 77, 0);
}
